.todolist {
  height: 95vh;
}

.todolist-items {
  height: 78vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .todolist-items::-webkit-scrollbar {
  display: none;
} */

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.editable:empty:before {
  content: attr(data-placeholder);
}

::-webkit-scrollbar-track {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.todolist-items {
  -ms-overflow-style: none;
}

.font-small {
  font-size: 12px;
}

.icon {
  font-size: 14px;
  transition: 0.3s ease;
}

.completed {
  opacity: 0.3;
}

.list-item {
  border-bottom: 0.5px rgba(150, 150, 150, 0.25) solid;
  box-sizing: border-box;
}

/* .completed input:checked ~ .checkmark {
  background-color: gray;
} */

.title-input {
  width: 100%;
  border: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

.icon:hover {
  transition: 0.3s ease;
  cursor: pointer;
  background-color: rgb(204, 207, 211);
}

.calendar-overlay-button {
  width: 100%;
}

.calendar-overlay {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: solid gray 0.5px;
  border-radius: 7px;
  padding: 10px;
  width: 250px;
}

.priorities-overlay {
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: solid gray 0.5px;
  padding: 0px;
  border-radius: 7px;
  width: 70px;
  font-size: 13px;
  overflow: hidden;
}

.priorities-overlay-item {
  transition: 0.15s ease;
  padding: 5px;
}

.priorities-overlay-item:hover {
  transition: 0.15s ease;
  cursor: pointer;
  background-color: rgb(21, 127, 251);
  color: white;
}

.calendarOverlay {
  width: 200px;
  height: 200px;
}
